# Virtual environment
.venv/

# Pycache
__pycache__/

# ipynb_checkpoints
.ipynb_checkpoints/

# MLflow runs
mlruns/
mlartifacts/
artifacts/

# Data caches
data_cache/

# Preprocessing
preprocessing/

# Model predictions
predictions/

# Model weights
models/